# Which environment to use. Either prod or dev.
# Dev environment has sentry logging and grpc reflection disabled.
# Optional. Default value: dev.
ENVIRONMENT="dev"

# Port used to bind the gRPC server.
# Optional. Default value: 50051.
PORT="50051"

# Port used to bind the HTTP server handling Polar webhook events.
# Optional. Default value: 8080.
WEBHOOK_PORT="8080"

# Connection URL to a running PostgreSQL instance.
# Required.
DATABASE_URL="postgres://username:password@hostname/db_name"

# DSN for your sentry.io project.
# Optional.
SENTRY_DSN=""

# Whether to use Polar's sandbox or production instance.
# Optional. Default value: false.
POLAR_SANDBOX="false"

# Access token to authenticate with the Polar API.
# You can create it in the settings of your organization.
# Required.
POLAR_TOKEN="polar_oat_xxxxxxx"

# Secret used to authenticate Polar webhook events.
# Required.
POLAR_WEBHOOK_SECRET="yyyyyyy"